

.bannerman 
{
margin-top: 300px;
text-align:center;
margin-left:auto;
margin-right:auto;
width:400px;
height: 200px;
border:1px solid black;


}



.titre
{
background-color:black;
background-position:top;
margin-top:0px;
display: inline-block;
width: 100%;
color:white;
height:40px;

}

.check{

	font-size: 1.4em;
	font-weight: bold;
}

.pos
{

	margin-top: 0px;
}

#bord
{
	
	position: relative;
	top:30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #6495ED;
	height: 50px;
	width: 90%;
}

#button
{

width:50%;
margin-top: 15px;
margin-bottom: auto;
display: inline-block;
vertical-align: top;

}

#hide
{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	position: relative;
	top:30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FF69B4 ;
	height: 55px;
	width: 90%;
}